= image_tag card_image_url(card_print), class: local_assigns[:grayscale] ? 'grayscale' : nil, width: ((local_assigns[:height] ? local_assigns[:height].to_f/680 : 1)*480).to_i , height: local_assigns[:height] || 680
