<p>Changed to <b><%= @deck_list.human_archetype %></b></p>
<p>Changed for <%= link_to @deck_list.id, @deck_list %></p>
<p>Changed by <%= link_to @user, @user%></p>

<pre><%= @deck_list.as_text %></pre>
